<section class="sect">
  <div class="row overall">
    <img class="logo" style="z-index: 9999;" (click)="home()" src="assets/img/tieke-connect-logo-10@1x.png">
    <div class="left-cont">
      <div class="header">
        <strong>{{name}}</strong>
      </div>
      <div [ngClass]="{highLight: item.slide==currentLesson}" class="menuitem" *ngFor="let item of lessonsList">
        <p (click)="changeView(item.slide)">{{item.menuName}}</p>
      </div>
    </div>
    <div class="right-cont" id="right-content">
      <!-- {{htmlContent}} -->
     <!-- <iframe width="100%" height="96%" src={{htmlContent}}></iframe> -->
      <div class="footer" style="z-index: 9999;">
        <div class="footer-icons">
          <!-- <img (click)="route(1)" class="home" src="assets/img/home-10@1x.png"> -->
          <!-- <img (click)="prev()" class="prev" src="assets/img/back-10@1x.png"> -->
          <img (click)="next()" class="next" *ngIf="!videoBoolean" src="assets/img/next-10@1x.png">
        </div>
      </div>
  </div>
  </div>

</section>