<section>
  <div class="row overall">
    <img class="logo" (click)="home()" src="assets/img/tieke-connect-logo-10@1x.png">
    <div class="left-cont">
      <div class="header">
        <strong>Motion</strong>
      </div>
      <div [ngClass]="{highLight: item.id==currentLesson}" class="menuitem" *ngFor="let item of lessonsList">
        <p (click)="changeView(item.id)">{{item.heading}}</p>
      </div>
    </div>
    <div class="right-cont">
      <div id="lesson-{{currentLesson}}" class="row lesson-{{currentLesson}}" *ngIf="currentLesson=='1'">
        <strong>Learning Objectives</strong>
        <p>After completing this lesson, students will be able to:</p>
        <ul *ngFor="let i of Objectives">
          <li>{{i}}</li>
        </ul>
      </div>
      <div id="lesson-{{currentLesson}}" class="row lesson-{{currentLesson}}" *ngIf="currentLesson=='2'">
        <div class="lessonheader lessonheaderIn  col-md-4 col-sm-6">
          <div class="box"></div>
          <strong>INTRODUCTION</strong>
        </div>
        <div class="box">
          <div class="row lessondata">
            <div class="col-md-7 lessoncontbox">
              <div class="lessoncont1">
                We can define motion as the change of position of an <b>object with respect to time</b>
              </div>
              <div class="lessoncont2">
                A book falling off a table, water flowing from the tap,rattling windows, etc all exhibit motion.
              </div>
              <div class="lessoncont3">
                Even the air that we breathe exhibits motion! Everything in the universe moves. We live in a universe
                that is incontinual motion.
              </div>
            </div>
            <div class="col-md-4 lessonimg">
              <div class="imgbox">
                <img src="assets/img_motion/group-134-1@1x.png" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="lesson-{{currentLesson}}" class=" lesson-{{currentLesson}}" *ngIf="currentLesson=='3'">
        <div class="lesson-titlebox" *ngIf="!videoBoolean" >
          <div class="titleno">2.1</div>
          <div>
            <strong>Rest and Motion</strong>
          </div>
          <img src="assets/img_motion/image-1@1x.png" (click)="videoOpen()"> 
        </div>
          <!-- <div class="col-md-4">
          <img src="assets/img_motion/image-1@1x.png"> 
        </div> -->
        <div class="box" *ngIf="!videoBoolean">
          <div class="row lessondata">
            <div class="col-md-12 lessoncontbox">
              <div class="row">
                <div class="lessoncont1 col-md-7">
                  <b>Motion</b>&nbsp;&nbsp; - Change in position of an object with respect to its surroundings.
                </div>
              </div>
              <div class="row">
                <div class="lessoncont1 col-md-7">
                  <b>Examples:</b>&nbsp;&nbsp; <br>
                  <ul>
                    <li>Children playing in the ground</li>
                    <li>Birds flying in the sky</li>
                    <li>Cars, Buses and bikes moving on road</li>
                    <li>Movement of earth around sun</li>
                  </ul>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3 lessonimg">
                  <img src="assets/img_motion/group-137-1@1x.png" />
                </div>
                <div class="col-md-3 lessonimg">
                  <img src="assets/img_motion/group-139-1@1x.png" />
                </div>
                <div class="col-md-3 lessonimg">
                  <img src="assets/img_motion/group-141-1@1x.png" />
                </div>
                <div class="col-md-3 lessonimg">
                  <img src="assets/img_motion/group-143-1@1x.png" />
                </div>
              </div>
              <div class="row">
                <div class="lessoncont1 col-md-7">
                  <b>Rest</b>&nbsp;&nbsp; -There is no change in position of an object with respect to its surroundings.
                </div>
              </div>

            </div>
          </div>
        </div>
        
        <div class="videoimg1" *ngIf="videoBoolean">
          <video class="videotag" src="assets/files/motion-definition.mp4" controls></video>
           </div>
      </div>
      <div id="lesson-{{currentLesson}}" class="lesson-{{currentLesson}}" *ngIf="currentLesson=='4'">
        <div class="lesson-titlebox" *ngIf="currentSubLession=='1' && !videoBoolean">
          <div class="titleno">2.2</div>
          <div> <strong>Types of Motion</strong></div>
          <img src="assets/img_motion/image-1@1x.png" (click)="videoOpen()">
        </div>
        <div class="lesson-titlebox" *ngIf="currentSubLession=='2' && !videoBoolean">
          <div class="titleno">2.2.1</div>
          <div> <strong>Uniform & Non Uniform motion</strong></div>
          <img src="assets/img_motion/image-1@1x.png" (click)="videoOpen()">
        </div>
        <div class="box" *ngIf="currentSubLession=='1' && !videoBoolean">
          <div class="row lessondata">
            <div class="col-md-12 lessoncontbox">
              <div class="row">
                <div class="col-md-8 leftlesscont">
                  <div class="leftlessdata">
                    <b>Types of motion</b>
                  </div>
                  <div class="leftlessdata row">
                    <div class="col-md-3">
                      Linear motion
                    </div>
                    <div class="col-md-8">
                      - Motion along straight line
                    </div>
                  </div>
                  <div class="leftlessdata row">
                    <div class="col-md-3">
                      Circular motion
                    </div>
                    <div class="col-md-8">
                      - Motion along a circular path
                    </div>
                  </div>
                  <div class="leftlessdata row">
                    <div class="col-md-3">
                      Oscillatory motion
                    </div>
                    <div class="col-md-8">
                      - To and fro motion of an object
                    </div>
                  </div>
                  <div class="leftlessdata row">
                    <div class="col-md-3">
                      Random motion
                    </div>
                    <div class="col-md-8">
                      - Move in any possible way (not uniform)
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3 lessonimg">
                  <img src="assets/img_motion/group-146-1@1x.png" />
                </div>
                <div class="col-md-9 lessonimg">
                  <img src="assets/img_motion/circular.PNG" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="box" *ngIf="currentSubLession=='2'  && !videoBoolean">
          <div class="row lessondata">
            <div class="col-md-12 lessoncontbox">
              <div class="row">
                <div class="col-md-6 leftlesscont">
                  <div class="leftlessdata1">
                    <b>Uniform motion</b> -An object covers equal distance in equal intervals of time
                  </div>

                  <div class="leftlessdata1">
                    Example :-
                    <ul>
                      <li>A car covering 60km in first, second , third andfourth hour</li>
                      <li>Clock, Rotating fan</li>
                    </ul>
                  </div>
                  <div class="leftlessbottom">
                    <b>Non</b>-uniform motion- An object covers unequaldistance in equal intervals of time
                  </div>
                </div>
                <div class="col-md-5 d-flex imgcont1">
                  <img src="assets/img_motion/group-155-1@1x.png" />
                  <img src="assets/img_motion/group-157-1@1x.png" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="videoimg1" *ngIf="currentSubLession=='1' && videoBoolean">
          <video class="videotag" src="assets/files/uniform-non-uniform.mp4" controls></video>
           </div>
           <div class="videoimg1" *ngIf="currentSubLession=='2' && videoBoolean">
            <video class="videotag" src="assets/files/uniform-non-uniform.mp4" controls></video>
             </div>

      </div>
      <div id="lesson-{{currentLesson}}" class="lesson-{{currentLesson}}" *ngIf="currentLesson=='9'">
        <div class="lesson-titlebox">
          <div class="titleno">2.7</div>
          <div> <strong>Motion of Freely Falling Body</strong></div>
         
        </div>
        <div class="box">
          <div class="row lessondata">
            <div class="container lessoncontbox">
              <div class="row justify-content-center mt-5">
                <div class="leftlessdata col-md-3">
                  Equations of Motion
                  <p class="mt-4">v = u + at</p><br>
                  <p>S = ut + 1/2 at<sup>2</sup></p><br>
                  <p>v<sup>2</sup>= u<sup>2</sup>+ 2as</p>
                </div>
                <div class="leftlessdata col-md-4" style="position:relative">
                  <div style="position: absolute;
                  top: -70px;left:15px;
                  display: flex;
                  flex-direction: column;">
                    <img style="height: 40px;
                    width: 12px;
                    position: relative;
                    left: 54px;" src="https://digitieke.com/motion_final/img/path-48-1@1x.png">
                    <label style="padding: 5px 5px;
                    border: 1px solid #ed7d31;">No Air Resistance</label>
                  </div>

                  <p>Hint </p>
                  <p>Initial velocity ‘u’ will be zero </p>
                  <p>Acceleration(a) getting replaced by ‘g’</p>
                  <p>acceleration due to gravity.</p>
                  <p>Distance ‘S’ replaced by height ‘h’</p>
                  <img src="https://digitieke.com/motion_final/img/path-51-1@1x.png">
                </div>
                <div class="leftlessdata col-md-3 ml-4" style="margin-left: 40px !important;">
                  Equations of Motion for freely falling body
                  <p class="mt-4">v = gt<br><br>S = 1/2 gt<sup>2</sup><br><br>v<sup>2</sup>= 2gh</p>
                </div>
                <div class="d-flex mt-4">
                  <div class="leftlessdata col-md-4">
                    <img class="img-cont" src="https://digitieke.com/motion_final/img/group-253-1@1x.png">
                  </div>
                  <div class="leftlessdata col-md-4">
                    <img class="img-cont" src="https://digitieke.com/motion_final/img/group-249-1@1x.png">
                  </div>
                  <div class="leftlessdata col-md-4">
                    <img class="img-cont" src="https://digitieke.com/motion_final/img/group-251-1@1x.png">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="lesson-{{currentLesson}}" class="lesson-{{currentLesson}}" *ngIf="currentLesson=='5'">
        <div class="lesson-titlebox" *ngIf="!videoBoolean">
          <div class="titleno">2.3</div>
          <div> <strong>Distance and Displacement</strong></div>
          <img src="assets/img_motion/image-1@1x.png" (click)="videoOpen()">
        </div>
        <div style="padding-left:0"  *ngIf="!videoBoolean">
          <div class="lessonsubheader">
            <div class="box">2.3.1</div>
            <strong>Distance</strong>
          </div>
        </div>
        <div class="box"  *ngIf="!videoBoolean" >
          <div class="row mt-4">
            <div class="col-md-7 lessoncontbox">
                <p>Distance:-Actual length of the path travelled by an moving object.</p>
                <p> SI Unit:-Metre</p>
                <p> * It is a scalar quantity having magnitude only.</p>
            </div>
            <div class="col-md-4 lessoncontbox">
              <img src="https://digitieke.com/motion_final/img/group-161-1@1x.png">
            </div>
            <div style="padding-left:0;" class="mb-4">
              <div class="lessonsubheader">
                <div class="box">2.3.2</div>
                <strong>Displacement</strong>
              </div>
            </div>
            <div class="col-md-7 lessoncontbox">
                <p>Displacement: -  Change in position of an object with respect to direction</p>
                <p> SI Unit:-Metre</p>
                <p> * It is a vector quantity having both magnitude and direction</p>
            </div>
            <div class="col-md-4 lessoncontbox">
              <img src="https://digitieke.com/motion_final/img/group-163-1@1x.png">
            </div>
          </div>
        </div>
        <div class="videoimg1" *ngIf="videoBoolean">
          <video class="videotag" src="assets/files/distance-vs-displacement.mp4" controls></video>
           </div>
      </div>
      <div id="lesson-{{currentLesson}}" class="row lesson-{{currentLesson}}" *ngIf="currentLesson=='6'">
        <div>
        <div class="lessonheader col-md-5" *ngIf="currentSubLession=='1'">
          <div class="box">2.4</div>
          <strong>Speed, Velocity and Acceleration</strong>
        </div>
        <div *ngIf="currentSubLession=='1'">
        <div class="lessonsubheader" *ngIf="currentSubLession=='1'">
          <div class="box">2.4.1</div>
          <strong>Speed</strong>
        </div>
      </div>
        <div class="box" *ngIf="currentSubLession=='1'">
          <div class="row lessondata">
            <div class="col-md-12 lessoncontbox">
              <div class="row">
                <div class="col-md-6 leftlesscont">
                  <div class="leftlessdata">
                  <p>Speed:  -Rate of change of distance (or) distance covered in unit time.</p>
                  <p>S.I Unit:-Metre/Second (or) ms<sup>1</sup></p>
                  <p> * It is a Scalar Quantity</p>
                  </div>
                  <div class="leftlessdata">
                    Speed =Distance travelled/time taken
                  </div>
                  <div class="leftlessdata">
                    <img style="width:500px;height:200px;" src="https://digitieke.com/motion_final/img/group-169-1@1x.png">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> 
         <div *ngIf="currentSubLession=='2'">
          <div>
            <div class="lessonsubheader">
              <div class="box">2.4.2</div>
              <strong>Velocity</strong>
            </div>
          </div>
          <div class="box">
            <div class="row lessondata">
              <div class="col-md-12 lessoncontbox">
                <div class="row">
                  <div class="col-md-6 leftlesscont">
                    <div class="leftlessdata">
                      <p>Velocity(v) -Rate of change of displacement with respect to time</p>
                      <p>S.I Unit:-ms<sup>-1</sup></p>
                      <p>*It is a vector quantity. (Hint:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-displacement has direction)</p>
                      <p>*Velocity = Displacement / Time taken</p>
                    </div>
                    <div class="leftlessdata d-flex">
                      <div>
                        <div class="text-center" style="position: relative;
                    left: 63px;
                    top: 20px;">
                          <p style="margin:0;">Distance = 20 metres</p>
                          <img style="
                    height: 10px;" src="https://digitieke.com/motion_final/img/path-10-1@1x.png">
                        </div>
                        <img style="width: 61px;
                    height: 120px;" src="https://digitieke.com/motion_final/img/path-6-1@1x.png">
                        <div style="position: relative;
                      left: 55px;
                      bottom: 30px;">
                          <img style="width: 30px;
                                        height: 30px;" src="https://digitieke.com/motion_final/img/path-7-1@1x.png">
                          <img style="height: 38px;
                                      position: absolute;
                                      bottom: 10px;
                                      left: 30px;" src="https://digitieke.com/motion_final/img/path-9-1@1x.png">
                        </div>
                      </div>
                      <div style="position: relative;
                    top: 75px;
                    width: 150px;
                    left: 53px;"> <img src="https://digitieke.com/motion_final/img/path-8-1@1x.png"></div>
                      <div style="position: relative;left:65px;"> <img style="height: 200px;;"src="https://digitieke.com/motion_final/img/path-11-1@1x.png">
                      </div>
                    </div>
                    <div class="leftlessdata">
                      <img src="https://digitieke.com/motion_final/img/group-173-1@1x.png">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="currentSubLession=='3'">
          <div>
            <div class="lessonsubheader">
              <div class="box">2.4.3</div>
              <strong>Acceleration</strong>
            </div>
          </div>
          <div class="box">
            <div class="row lessondata">
              <div class="col-md-12 lessoncontbox">
                <div class="row">
                  <div class="col-md-10 leftlesscont">
                    <div class="leftlessdata">
                      <p>Acceleration(a) - Rate of change of velocity in unit time</p>
                      <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;= change in velocity / time<sup>-1</sup></p>
                      <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;= [Final velocity(v) - Initial velocity(u)] / time</p>
                      <p>Positive acceleration-v > u (Final velocity greater than final velocity)</p>
                      <p>Negative acceleration-u > v (Initial velocity greater than final velocity)</p>
                    </div>
                    <div class="leftlessdata">
                      <img style="width:400px;" src="https://digitieke.com/motion_final/img/group-179-1@1x.png">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="lesson-{{currentLesson}}" class="lesson-{{currentLesson}}" *ngIf="currentLesson=='8'">
        <div class="lesson-titlebox" >
          <div class="titleno">2.6</div>
          <div> <strong>Equations of Motion</strong></div>
         
        </div>
        <div class="box">
          <div class="row lessondata">
            <div class="col-md-12 lessoncontbox">
              <div class="row">
                <div class="col-md-6 leftlesscont">
                  <div class="leftlessdata">
                    <img src="assets/img_motion/group-235-1@1x.png">
                  </div>
                </div>
                <div class="col-md-6 leftlesscont">
                  <div class="leftlessdata">
                    <img src="assets/img_motion/equation.png">
                  </div>
                </div>
                <div class="row leftlessbottom">
                  <div class="col-md-4 imgcont">
                    <img class="img" src="assets/img_motion/group-237-1@1x.png" />
                  </div>
                  <div class="col-md-4 imgcont">
                    <img class="img1" src="assets/img_motion/group-239-1@1x.png" />
                  </div>
                  <div class="col-md-4 imgcont">
                    <img class="img" src="assets/img_motion/group-241-1@1x.png" />
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="lesson-{{currentLesson}}" class="lesson-{{currentLesson}}" *ngIf="currentLesson=='10'">
        <div class="lesson-titlebox">
          <div class="titleno">2.8</div>
          <div> <strong>Uniform circular motion</strong></div>
         
        </div>
        <div class="box">
          <div class="row lessondata">
            <div class="col-md-12 lessoncontbox">
              <div class="row">
                <div class="lessoncont1 col-md-11">
                  When an object is moving with a constant speed along a circular path, 
                  the velocity changes dueto the change in direction. Hence, it is an accelerated motion.
                </div>
              </div>
              <div class="row">
                <div class="lessoncont1 col-md-7">
                  For example, revolution of earth around the sun,revolution of moon around the earth
                </div>
                <div class="imgbox">
                  <img src="assets/img_motion/group-257-1@1x.png" />
                </div>
              </div>
              <div class="row">
                <div class="lessoncont1 col-md-11">
                  If an object, moving along a circular 
                  path of radius, r takes time, T to come back to its startingposition, 
                  then the speed, v is given by,
                  <br>
                  Speed = Circumference/Time taken
                  <br>
                  V = 2pr/T
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="lesson-{{currentLesson}}" class="lesson-{{currentLesson}}" *ngIf="currentLesson=='11'">
         
        <div class="lesson-titlebox">
          <div class="titleno">2.9</div>
          <div> <strong>Centripetal Acceleration and Centripetal Force</strong></div>
         
        </div>
     
       
        <div class="box">
          <div class="row lessondata">
            <div class="col-md-12 lessoncontbox">
              <div class="row">
                <div class="col-md-6 leftlesscont">
                  <div class="leftlessdata">
                    <b>When the acceleration is directed inwards/to the
                    centrein a circular motion, it is known as
                    centripetal acceleration
                  </b>
                  </div>
                  <div class="leftlessdata">
                    For an object of mass m, moving along a circular
                    <br>
                    path of radius r, with a velocity v.
                    <br>
                    Its centripetal acceleration is given by
                    <br>
                    a = v<sup>2</sup>/r
                    <br>
                    Magnitude (F) = Mass x Centripetal Acceleration
                    <br>
                    F = mv<sup>2</sup>/r
                  </div>
                </div>
                <div class="col-md-5 d-flex imgcont">
                  <img src="assets/img_motion/group-260-1@1x.png" />
                </div>
              </div>
            </div>
          </div>
        </div>
      
      </div>
      <div id="lesson-{{currentLesson}}" class=" lesson-{{currentLesson}}"  *ngIf="currentLesson=='12'">
         
        <div class="lesson-titlebox" >
          <div class="titleno">2.10</div>
          <div> <strong>Centrifugal Force</strong></div>
         
        </div>
        <div class="box">
          <div class="row lessondata">
            <div class="col-md-12 lessoncontbox">
              <div class="row">
                <div class="col-md-7 leftlesscont">
                  <div class="leftlessdata">
                    <img src="assets/img_motion/group-263-1@1x.png" />
                  </div>
                </div>
                  <div class="leftlessdata1">
                    When the acceleration is directed outwards/ away from the centrein a circular motion, it is known
                    as centrifugal acceleration and the associated force is centrifugal force
                  </div>
             
            
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="lesson-{{currentLesson}}" class="row lesson-{{currentLesson}}" *ngIf="currentLesson=='14'">
        <img src="assets/img_motion/group-266-1@1x.png">
      </div>
      <div id="lesson-{{currentLesson}}" class="row lesson-{{currentLesson}}" *ngIf="currentLesson=='13'">
        <strong>Activities</strong>
        <ul *ngFor="let i of Activities">
          <li>{{i}}</li>
        </ul>
      </div>
      <div class="footer">
        <div class="footer-icons">
          <img (click)="route(1)" class="home" src="assets/img/home-10@1x.png">
          <img (click)="prev()" class="prev" src="assets/img/back-10@1x.png">
          <img (click)="next()" class="next" *ngIf="!videoBoolean" src="assets/img/next-10@1x.png">
        </div>
      </div>
  </div>
  </div>

</section>