<div style="overflow:auto;">
<div class="container">
    <div class="header" style="text-align:center;padding-top:30px;">
        <strong style="font-size:30px">Convert ppt to html</strong>
    </div>
    <div class="row" style="justify-content: center;
    padding-top: 100px;">
        <div class="col-md-6 col-md-offset-3">
            
            <!-- Split button -->
            <div style="display: flex;
            justify-content: space-evenly;">
              <div class="fileUpload btn btn-success">
                <span><i class="glyphicon glyphicon-upload"></i> Choose a PPTX file</span>
                <input [(ngModel)]="check" (change)="checkName($event)" id="uploadBtn" type="file" class="upload" accept="application/vnd.openxmlformats-officedocument.presentationml.presentation"/>
              </div>
              <div >
                <button (click)="preview()"   style="outline: none;" id="download-btn" class="btn btn-success" >Preview html</button>
              </div>
                
            </div>
        </div>
        
    </div>

    
    <br>
    <div class="row" style="justify-content: center;
    padding-top: 100px;" *ngIf="ShowBoolean">
        <div class="col-md-6 col-md-offset-3">
            
            <!-- Split button -->
            <div style="display: flex;
            justify-content: space-evenly;">
              <!-- <div class="fileUpload btn btn-success">
                <span><i class="glyphicon glyphicon-upload"></i> Choose a PPTX file</span> -->
                <label>Menu Name</label>
                <input [(ngModel)]="inputMenu"/>
              <!-- </div> -->
              <div >
                <label>Slide No</label>
                <select [(ngModel)]="inputIndex" >
                    <option *ngFor="let item of common.pptData; let i=index" value="{{i}}">{{i}}</option>
                </select>
              </div>
              <br>
              <div >
               <button class="btn btn-success" (click)="save()">Save</button>
              </div>
                
            </div>
        </div>
        
    </div>
    <div class="row" style="justify-content: center;
    padding-top: 100px;" *ngIf="ShowBoolean">
    <div class="row">
      <div class="col-6">
        <label style="margin: 2px;">Add Video</label>
        <input type="file" (change)="onSelectFile($event)" accept=".mp4">
      </div>
      <div class="col-3">
        <button class="btn btn-success" (click)="change()">Show Original</button></div>
      </div>
    </div>

      

    
    
    <div class="row">
        <div class="col-lg-12">
            <div id="error_block" class="alert alert-danger hidden">
                You will need a recent browser to use this demo :(
            </div>
            
            </div>
            <div id="result_block" class="hidden">
                <h3>Slides:</h3>
                <div id="result"></div>
            </div>
        </div>
    </div>
</div>


