section {
    background-color: #f3d25e;
    height: 100%;
    overflow: scroll;
    padding-bottom: 30px;

    .overall {
        margin-top: 50px;
        margin-bottom: 20px;
        position: relative;
    }

    .left-cont {
        width: 27%;
        background-color: #153c66;
        margin-right: 30px;
        padding-left: 40px;
        padding-bottom: 80px;
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;

        .header {
            font-size: 70px;
            color: #fd8800;
            padding-left: 50px;
            padding-bottom: 20px;
            padding-top: 10px;
        }

        p {
            color: white;
            font-size: 22px;
        }
    }

    .right-cont {
        width: 69.666667%;
        background: #faefc9;
        padding-right: 30px;
        border-bottom-right-radius: 25px;
        border-bottom-left-radius: 25px;
        padding: 0;

        .lesson-1 {
            padding-left: 80px;
            padding-top: 50px;

            strong {
                font-size: 30px;
                padding-bottom: 20px;
            }

            ul {
                margin-left: 20px;
                margin-bottom: 20px !important;
            }
        }

        .lesson-2 {
            .lessonheader {
                background-color: #ed7d31;
                color: white;
                padding: 15px 5px 5px 32px;
                margin-left: 30px;
                margin-top: 50px;
                border-radius: 5px;
                text-align: center;
                position: relative;
              
                strong {
                  font-size: 18px;
                }
                .box {
                  background-color: #f8cbad;
                  position: absolute;
                  height: 47px;
                  width: 50px;
                  left: 5px;
                  top: 0;
                  right: 0;
                }
              }
            padding-left: 60px;
            padding-top: 85px;
            .lessondata {
                background-color: #faf1ca;
                color: white;
                border-radius: 5px;
                margin-top: 50px;
                .lessoncontbox {
                  color: black;
                  font-size:14px;
                  margin-right: 20px;
                  .lessoncont1 {
                    padding: 15px 0px 30px 20px;
                    word-spacing: 5px;
                  }
                  .lessoncont2 {
                    padding: 15px 30px 30px 21px;
                    margin-top: 80px;
                  }
                }
                strong {
                  font-size: 18px;
                }
                .lessonimg {
                  .imgbox {
                    width: 300px;
                    height: 175px;
                    padding: 10px;
                    background-color: white;
                    margin-bottom: 10px;
                    border: 1px solid #70ad47;
                  }
                  img {
                    width: 280px;
                    height: 160px;
                  }
                }
              }
            }
         .lesson-3{
            padding-left: 80px;
            .lessonheader {
                background-color: #ed7d31;
                color: white;
                padding: 15px 5px 5px 32px;
                margin-left: 10px;
                margin-top: 10px;
                border-radius: 5px;
                text-align: center;
                position: relative;
              
                strong {
                  font-size: 18px;
                }
                .box {
                  background-color: #f8cbad;
                  position: absolute;
                  height: 47px;
                  color:black;
                  font-size: 30px;
                  text-align: center;
                  width: 50px;
                  left: 5px;
                  top: 0;
                  right: 0;
                }
              }
              .lessondata {
                color: white;
                border-radius: 5px;
                justify-content: center;
                margin-top: 30px;
                .lessoncontbox {
                  color: black;
                  .lessoncont1 {
                    padding: 30px 30px 30px 21px;
                  }
                  .lessoncont2 {
                    padding: 15px 30px 30px 21px;
                  }
                }
                strong {
                  font-size: 18px;
                }
              
                .imgbox {
                  width: 200px;
                  height: 120px;
                  background: #faefc9;
                  margin-bottom: 30px;
                }
                img {
                  width: 200px;
                  height: 120px;
                }
              }
         }
         .lesson-4{
            padding-left: 80px;
            .lessonheader {
                background-color: #ed7d31;
                color: white;
                padding: 15px 5px 5px 32px;
                margin-left: 10px;
                margin-top: 20px;
                border-radius: 5px;
                text-align: center;
                position: relative;
              
                strong {
                  font-size: 18px;
                }
                .box {
                  background-color: #f8cbad;
                  position: absolute;
                  height: 47px;
                  color:black;
                  font-size: 30px;
                  text-align: center;
                  width: 50px;
                  left: 5px;
                  top: 0;
                  right: 0;
                }
              }
              .lessondata {
                color: white;
                border-radius: 5px;
                justify-content: center;
                margin-top: 30px;
                .lessoncontbox {
                  color: black;
                  .leftlesscont{
                    .leftlessdata{
                        padding: 20px 0px;
                    }
                    .leftlessbottom{
                        margin-top: 50px;
                        ol{
                            padding:30px;
                            li{
                                padding:10px;
                            }
                        }
                    }
                  }
                }
                .imgcont {
                  flex-direction: column;
                  img {
                    width: 450px;
                    height: 280px;
                    margin-bottom: 30px;
                  }
                }
              }
         }
         .lesson-5{
            padding-left: 80px;
            .lessonheader {
                background-color: #ed7d31;
                color: white;
                padding: 15px 5px 5px 32px;
                margin-left: 10px;
                margin-top: 50px;
                border-radius: 5px;
                text-align: center;
                position: relative;
              
                strong {
                  font-size: 18px;
                }
                .box {
                  background-color: #f8cbad;
                  position: absolute;
                  height: 47px;
                  color:black;
                  font-size: 30px;
                  text-align: center;
                  width: 50px;
                  left: 5px;
                  top: 0;
                  right: 0;
                }
              }
              .lessondata {
                color: white;
                border-radius: 5px;
                justify-content: center;
                margin-top: 30px;
                .lessoncontbox {
                  color: black;
                  li{
                    padding:10px;
                }
                  img{
                    width: 725px;
                    margin-top: 50px;
                  }
                }
              }
         }
         .lesson-6{
            padding-left: 60px;
            .lessonheader {
                background-color: #ed7d31;
                color: white;
                padding: 15px 5px 5px 32px;
                margin-left: 10px;
                margin-top: 50px;
                border-radius: 5px;
                text-align: center;
                position: relative;
              
                strong {
                  font-size: 18px;
                }
                .box {
                  background-color: #f8cbad;
                  position: absolute;
                  height: 47px;
                  color:black;
                  font-size: 30px;
                  text-align: center;
                  width: 50px;
                  left: 5px;
                  top: 0;
                  right: 0;
                }
              }
              .lessondata {
                color: white;
                border-radius: 5px;
                justify-content: center;
                margin-top: 30px;
                .lessoncontbox {
                  color: black;
                  .leftlesscont{
                    .leftlessdata{
                        padding: 20px 0px;
                    }
                    .leftlessbottom{
                        margin-top: 30px;
                        img{
                            width:200px;
                            height: 150px;
                            margin-top:10px;
                        }
                    }
                  }
                }
                .imgcont {
                  flex-direction: column;
                  img {
                    width: 400px;
                    height: 200px;
                    margin-bottom: 60px;
                    margin-top:20px;
                  }
                }
              }       
              
    }
    .lesson-8{
        padding-left: 60px;
        .lessonheader {
            background-color: #ed7d31;
            color: white;
            padding: 15px 5px 5px 32px;
            margin-left: 10px;
            margin-top: 50px;
            border-radius: 5px;
            text-align: center;
            position: relative;
          
            strong {
              font-size: 18px;
            }
            .box {
              background-color: #f8cbad;
              position: absolute;
              height: 47px;
              color:black;
              font-size: 30px;
              text-align: center;
              width: 50px;
              left: 5px;
              top: 0;
              right: 0;
            }
          }
          .lessondata {
            color: white;
            border-radius: 5px;
            justify-content: center;
            margin-top: 30px;
            .lessoncontbox {
              color: black;
              .leftlesscont{
                .leftlessdata{
                    padding: 0px 30px 0px 0px;
                }
                .leftlessbottom{
                    margin-top: 30px;
                    img{
                        width: 400px;
                        height: 480px;
                        margin-bottom: 30px;
                    }
                }
              }
            }
            .imgcont {
              flex-direction: column;
              img {
                width: 400px;
                height: 275px;
                margin-bottom: 30px;
              }
            }
          }   
        }
}
}

.logo {
    position: absolute;
    width: 250px;
    right: 10px;
    top: -10px;
}

.footer {
    padding-top: 40px;
    position: absolute;
    bottom: 0px;
    /* right: 4px; */
    /* left: 0; */
    background-color: #153c66;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    width: 69.6777%;

    img {
        width: 50px;
    }

    .footer-icons {
        position: absolute;
        top: -20px;
        right: 25px;
    }
}

@media (min-width:380px) and (max-width:800px) {
    .overall {
        justify-content: center;

        .logo {
            right: 75px !important;
            top: -15px !important;
        }
    }

    .left-cont {
        width: 80% !important;
        margin-right: 0px !important;
        margin-bottom: 10px;
    }

    .right-cont {
        width: 90% !important;
        margin-right: 0px !important;
        margin-bottom: 10px;
        padding-bottom: 30px !important;

        .row {
            padding-left: 20px !important;

            ul {
                font-size: 12px;
            }
        }

    }

    .footer {
        width: 90% !important;
    }
}
.three{
    ul {
        padding-left: 1em !important;
        margin-left: 1em;
      }
      
      li {
        list-style-type: disc !important;
      }
    }