<section>
  <div class="row overall">
    <img class="logo" src="https://digitieke.com/Heat/img/tieke-connect-logo-10@1x.png">
  <div class="left-cont">
    <div class="header">
   <strong>HEAT</strong>
  </div>
  <div [ngClass]="{highLight: item.id==currentLesson}" class="menuitem" *ngFor="let item of lessonsList">
   <p  (click)="changeView(item.id)">{{item.heading}}</p>
  </div>
  </div>
  <!-- <div class="right-cont">
    <div class="row lesson-{{currentLesson}}" *ngIf="currentLesson=='1'">
      <strong>Learning Objectives</strong>
      <p>After completing this lesson, students will be able to:</p>
       <ul *ngFor="let i of Objectives" >
        <li>{{i}}</li>
       </ul>
    </div> -->
    <div class="right-cont">
      <div class="row lesson-{{currentLesson}}" *ngIf="currentLesson=='1'">
        <strong>Learning Objectives</strong>
        <p>After completing this lesson, students will be able to:</p>
        <ul *ngFor="let i of Objectives">
          <li>{{i}}</li>
        </ul>
      </div>
      <div class="row lesson-{{currentLesson}}" *ngIf="currentLesson=='2'">
        <div class="lessonheader col-md-4 col-sm-6">
          <div class="box"></div>
          <strong>INTRODUCTION</strong>
        </div>
        <div class="box">
          <div class="row lessondata">
            <div class="col-md-7 lessoncontbox">
              <div class="lessoncont1">
                All substances in our surrounding are made up of molecules. These
                molecules are generally at motion and posses kineticenergy. The sum of
                the kinetic and potential energy is called the internal energy of the
                molecules.
              </div>
              <div class="lessoncont2">
                Heat energy–Outward Flow of internal energy (Internal energy–Potential
                energy + kinetic energy)
              </div>
            </div>
            <div class="col-md-4 lessonimg">
              <div class="imgbox">
                <img src="https://digitieke.com/Heat/img/group-6-1@1x.png" />
              </div>
              <div class="imgbox">
                <img src="https://digitieke.com/Heat/img/group-8-1@1x.png" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row lesson-{{currentLesson}}" *ngIf="currentLesson=='3'">
        <div class="lessonheader col-md-4">
          <div class="box">7.1</div>
          <strong>EFFECTS OF HEAT</strong>
        </div>
        <div class="box">
          <div class="row lessondata">
            <div class="col-md-12 lessoncontbox">
              <div class="row">
                <div class="lessoncont1 col-md-7">
                  <b>Expansion:</b>&nbsp;&nbsp; when heat is applied, the molecules gain energy
                  and vibrate and force other molecules apart
                </div>
                <div class="imgbox">
                  <img src="https://digitieke.com/Heat/img/group-11-1@1x.png" />
                </div>
              </div>
              <div class="row">
                <div class="lessoncont1 col-md-7">
                  <b>Change in State:</b>&nbsp;&nbsp; When heat is applied , Solid changes to
                  Liquid, Liquid to Vapor and Vapor to Gas.
                </div>
                <div class="imgbox">
                  <img src="https://digitieke.com/Heat/img/group-17-1@1x.png" />
                </div>
              </div>
              <div class="row">
                <div class="lessoncont1 col-md-7">
                  <b>Change in Temperature:</b>&nbsp;&nbsp; When heat is applied, the increase in
                  kinetic energy makes the particles to move rapidly and temperature
                  rises
                </div>
                <div class="imgbox">
                  <img src="https://digitieke.com/Heat/img/group-13-1@1x.png" />
                </div>
              </div>
              <div class="row">
                <div class="lessoncont1 col-md-7">
                  <b>Chemical changes:</b>&nbsp;&nbsp;when heat energy is applied a substance
                  combineswith another to form a new substance
                </div>
                <div class="imgbox">
                  <img src="https://digitieke.com/Heat/img/group-15-1@1x.png" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row lesson-{{currentLesson}}" *ngIf="currentLesson=='4'">
        <div class="lessonheader col-md-4">
          <div class="box">7.2</div>
          <strong>TRANSFER OF HEAT</strong>
        </div>
        <div class="box">
          <div class="row lessondata">
            <div class="col-md-12 lessoncontbox">
              <div class="row">
                <div class="col-md-6 leftlesscont">
                  <div class="leftlessdata">
                    Heat does not stay where we put it. Hot things get colder andcold
                    things get hotter.
                  </div>
                  <div class="leftlessdata">
                    Heat is transferred from one place to another till
                    theirtemperatures become equal.
                  </div>
                  <div class="leftlessdata">
                    Heat transfer takes place when heat energy flows from anobject
                    with higher temperature to an object with lowertemperature
                  </div>
                  <div class="leftlessbottom">
                    Heat transfer takes place in three ways:
                    <ol>
                      <li>Conduction</li>
                      <li>Convection</li>
                      <li>Radiation</li>
                    </ol>
                  </div>
                </div>
                <div class="col-md-5 d-flex imgcont">
                  <img src="https://digitieke.com/Heat/img/group-22-1@1x.png" />
                  <img src="https://digitieke.com/Heat/img/group-22-1@1x.png" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row lesson-{{currentLesson}}" *ngIf="currentLesson=='9'">
        <div class="lessonheader col-md-4">
          <div class="box">7.7</div>
          <strong>LATENT HEAT</strong>
        </div>
        <div class="box">
          <div class="row lessondata">
            <div class="col-md-12 lessoncontbox">
              <div class="row">
                <div class="col-md-6 leftlesscont">
                  <div class="leftlessdata">
                    Latent heat means hidden heat or hidden Energy
                  </div>
                  <div class="leftlessdata">
                    Latent heat is the amount of heat energy absorbed or released by a substance during a change in its physical states without any change in its temperature.
                  </div>
                  <div class="leftlessdata">
                    Specific latent heat is the amount of heat energy absorbed or liberated by unit mass of a substance during change of state without causing any change in temperature.
                  </div>
                  <div class="leftlessdata">
                    <b>L=Q/m </b>
                  </div>
                  <div class="leftlessbottom">
               The SI unit of specific latent heat is <b>J/kg.</b>
               <img src="https://digitieke.com/Heat/img/group-100-1@1x.png">
                  </div>
                </div>
                <div class="col-md-5 d-flex imgcont">
                  <img src="https://digitieke.com/Heat/img/group-102-1@1x.png" />
                  <img src="https://digitieke.com/Heat/img/group-104-1@1x.png" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row lesson-{{currentLesson}}" *ngIf="currentLesson=='5'">
        <div class="lessonheader col-md-5">
          <div class="box">7.3</div>
          <strong>CONCEPT OF TEMPERATURE</strong>
        </div>
        <div class="box">
          <div class="row lessondata">
            <div class="col-md-12 lessoncontbox three">
              <ul>
                <li>Temperature is the degree of hotness or coolness of a body</li>
                <li>The SI unit of temperature is <b style="color:#c00000 ;">kelvin (K)</b></li>
                <li>Temperature is measured with a <b style="color:#c00000 ;">Thermometer</b></li>
              </ul>
              <img src="assets/heat_temperature.png">
            </div>
          </div>
        </div>
      </div>
      <div class="row lesson-{{currentLesson}}" *ngIf="currentLesson=='6'">
        <div class="lessonheader col-md-5">
          <div class="box">7.4</div>
          <strong>SPECIFIC HEAT CAPACITY</strong>
        </div>
        <div class="box">
          <div class="row lessondata">
            <div class="col-md-12 lessoncontbox">
              <div class="row">
                <div class="col-md-7 leftlesscont">
                  <div class="leftlessdata">
                    Specific heat capacity of a substance is defined as the amount of heat required to raise the
                    temperature of 1 kg of the substance by 10C or 1 K
                  </div>
                  <div class="leftlessdata">
                    SI unit of specific heat capacity is Jkg-1K-1
                  </div>
                  <div class="leftlessdata">
                    A <b>high heat capacity</b> means that the substance requires lots of heat in order toraise or lower
                    the temperature by one unit. Having a high heat capacity meansthat the substance also retains heat
                    better than substances with lower heat capacities
                  </div>
                  <div class="leftlessbottom">
                    A <b>low heat capacity</b> means that the substance does not require a lot of heat inorder to
                    raise/lower the temperature by 1°C. A low heat capacity means that thesubstance does not retain heat
                    as well as substances with a higher heat capacity Formula for Specific Heat Capacity
                    <div> <img src="https://digitieke.com/Heat/img/group-80-1@1x.png"></div>
                  </div>
                </div>
                <div class="col-md-4 d-flex imgcont">
                  <img src="https://digitieke.com/Heat/img/group-22-1@1x.png" />
                  <img src="https://digitieke.com/Heat/img/group-22-1@1x.png" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row lesson-{{currentLesson}}" *ngIf="currentLesson=='8'">
        <div class="lessonheader col-md-5">
          <div class="box">7.6</div>
          <strong>CHANGE OF STATE</strong>
        </div>
        <div class="box">
          <div class="row lessondata">
            <div class="col-md-12 lessoncontbox">
              <div class="row">
                <div class="col-md-6 leftlesscont">
                  <div class="leftlessdata">
                    The process of changing of a substance from one physical state to another at a definite temperature is called Change of state.
                  </div>
                  <div class="leftlessbottom">
                    <img src="https://digitieke.com/Heat/img/group-93-1@1x.png">
                  </div>
                </div>
                <div class="col-md-5 d-flex imgcont">
                  <img src="https://digitieke.com/Heat/img/group-95-1@1x.png" />
                  <img src="https://digitieke.com/Heat/img/group-97-1@1x.png" />
                </div>
              </div>
            </div>
          </div>
        </div>
        </div>
        <div class="row lesson-{{currentLesson}}"  *ngIf="currentLesson=='7'">
          <div class="lessonheader col-md-6">
            <div class="box">7.5</div>
            <strong>HEAT CAPACITY OR THERMAL CAPACITY</strong>
          </div>
          <div class="box">
            <div class="row lessondata">
              <div class="col-md-12 lessoncontbox">
                <div class="row">
                  <div class="col-md-7 leftlesscont">
                    <div class="leftlessdata">
                      Heat capacity or thermal capacity is defined as the amount of heat energy required to raise the temperature of a body by 1°C
                    </div>
                    <div class="leftlessdata">
                     <img src="assets/capacity.png">
                    </div>
                  </div>
                  <div class="col-md-4 d-flex imgcont">
                    <img src="https://digitieke.com/Heat/img/group-90-1@1x.png" />
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row lesson-{{currentLesson}}"  *ngIf="currentLesson=='10'">
          <img src="https://digitieke.com/Heat/img/slide20@1x.png">
        </div>
        <div class="row lesson-{{currentLesson}}"  *ngIf="currentLesson=='11'">
            <img src="https://digitieke.com/Heat/img/group-113-1@1x.png">
        </div>
      <div class="footer">
        <div class="footer-icons">
          <img (click)="route(1)" class="home" src="https://digitieke.com/Heat/img/home-10@1x.png">
          <img (click)="route(2)" class="prev" src="https://digitieke.com/Heat/img/back-10@1x.png">
          <img (click)="route(3)" class="next" src="https://digitieke.com/Heat/img/next-10@1x.png">
        </div>
      </div>
    </div>
    <!-- <div class="footer">
      <div class="footer-icons">
      <img (click)="route()" class="home" src="https://digitieke.com/Heat/img/home-10@1x.png">
      <img (click)="route()" class="prev" src="https://digitieke.com/Heat/img/back-10@1x.png">
      <img (click)="route()" class="next" src="https://digitieke.com/Heat/img/next-10@1x.png">
    </div>
    </div> -->
  </div>
  <!-- </div> -->

</section>