<section>
  <div class="row overall">
    <img class="logo" src="https://digitieke.com/Heat/img/tieke-connect-logo-10@1x.png">
  <div class="left-cont">
    <div class="header">
   <strong>HEAT</strong>
  </div>
   <p [ngClass]="{highLight: item.id==currentLesson}" (click)="changeView(item.id)" *ngFor="let item of lessonsList">{{item.heading}}</p>
  </div>
  <div class="right-cont">
    <div class="row lesson-{{currentLesson}}" *ngIf="currentLesson=='1'">
      <strong>Learning Objectives</strong>
      <p>After completing this lesson, students will be able to:</p>
       <ul *ngFor="let i of Objectives" >
        <li>{{i}}</li>
       </ul>
    </div>
    <div class="row lesson-{{currentLesson}}"  *ngIf="currentLesson=='2'">
        <div class="lessonheader col-md-4">
          <div class="box"></div>
          <strong>INTRODUCTION</strong>
        </div>
        <div class="box">
          <div class="row lessondata">
            <div class="col-md-7 lessoncontbox">
              <div class="lessoncont1">
                All substances in our surrounding are made up of molecules. These
                molecules are generally at motion and posses kineticenergy. The sum of
                the kinetic and potential energy is called the internal energy of the
                molecules.
              </div>
              <div class="lessoncont2">
                Heat energy–Outward Flow of internal energy (Internal energy–Potential
                energy + kinetic energy)
              </div>
            </div>
            <div class="col-md-4 lessonimg">
              <div class="imgbox">
                <img src="https://digitieke.com/Heat/img/group-6-1@1x.png" />
              </div>
              <div class="imgbox">
                <img src="https://digitieke.com/Heat/img/group-8-1@1x.png" />
              </div>
            </div>
          </div>
        </div>
    </div>
    <div class="row lesson-{{currentLesson}}"  *ngIf="currentLesson=='3'">
      <div class="lessonheader col-md-4">
        <div class="box">7.1</div>
        <strong>EFFECTS OF HEAT</strong>
      </div>
      <div class="box">
        <div class="row lessondata">
          <div class="col-md-12 lessoncontbox">
            <div class="row">
              <div class="lessoncont1 col-md-7">
                <b>Expansion:</b>&nbsp;&nbsp; when heat is applied, the molecules gain energy
                and vibrate and force other molecules apart
              </div>
              <div class="imgbox">
                <img src="https://digitieke.com/Heat/img/group-11-1@1x.png" />
              </div>
            </div>
            <div class="row">
              <div class="lessoncont1 col-md-7">
                <b>Change in State:</b>&nbsp;&nbsp; When heat is applied , Solid changes to
                Liquid, Liquid to Vapor and Vapor to Gas.
              </div>
              <div class="imgbox">
                <img src="https://digitieke.com/Heat/img/group-17-1@1x.png" />
              </div>
            </div>
            <div class="row">
              <div class="lessoncont1 col-md-7">
                <b>Change in Temperature:</b>&nbsp;&nbsp; When heat is applied, the increase in
                kinetic energy makes the particles to move rapidly and temperature
                rises
              </div>
              <div class="imgbox">
                <img src="https://digitieke.com/Heat/img/group-13-1@1x.png" />
              </div>
            </div>
            <div class="row">
              <div class="lessoncont1 col-md-7">
                <b>Chemical changes:</b>&nbsp;&nbsp;when heat energy is applied a substance
                combineswith another to form a new substance
              </div>
              <div class="imgbox">
                <img src="https://digitieke.com/Heat/img/group-15-1@1x.png" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row lesson-{{currentLesson}}"  *ngIf="currentLesson=='4'">
      <div class="lessonheader col-md-4">
        <div class="box">7.2</div>
        <strong>TRANSFER OF HEAT</strong>
      </div>
      <div class="box">
        <div class="row lessondata">
          <div class="col-md-12 lessoncontbox">
            <div class="row">
              <div class="col-md-6 leftlesscont">
                <div class="leftlessdata">
                  Heat does not stay where we put it. Hot things get colder andcold
                  things get hotter.
                </div>
                <div class="leftlessdata">
                  Heat is transferred from one place to another till
                  theirtemperatures become equal.
                </div>
                <div class="leftlessdata">
                  Heat transfer takes place when heat energy flows from anobject
                  with higher temperature to an object with lowertemperature
                </div>
                <div class="leftlessbottom">
                 Heat transfer takes place in three ways:
                 <ol>
                  <li>Conduction</li>
                  <li>Convection</li>
                  <li>Radiation</li>
                 </ol>
                </div>
              </div>
              <div class="col-md-5 d-flex imgcont">
                <img src="https://digitieke.com/Heat/img/group-22-1@1x.png" />
                <img src="https://digitieke.com/Heat/img/group-22-1@1x.png" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row lesson-{{currentLesson}}"  *ngIf="currentLesson=='5'">
      <div class="lessonheader col-md-4">
        <div class="box">7.3</div>
        <strong>CONCEPT OF TEMPERATURE</strong>
      </div>
      <div class="box">
        <div class="row lessondata">
          <div class="col-md-12 lessoncontbox three">
            <ul>
              <li>Temperature is the degree of hotness or coolness of a body</li>
              <li>The SI unit of temperature is <b style="color:#c00000 ;">kelvin (K)</b></li>
              <li>Temperature is measured with a <b style="color:#c00000 ;">Thermometer</b></li>
          </ul>
          <img src="assets/heat_temperature.png">
          </div>
        </div>
      </div>
    </div>
    <div class="row lesson-{{currentLesson}}"  *ngIf="currentLesson=='7'">
      <div class="lessonheader col-md-6">
        <div class="box">7.5</div>
        <strong>HEAT CAPACITY OR THERMAL CAPACITY</strong>
      </div>
      <div class="box">
        <div class="row lessondata">
          <div class="col-md-12 lessoncontbox">
            <div class="row">
              <div class="col-md-6 leftlesscont">
                <div class="leftlessdata">
                  Heat capacity or thermal capacity is defined as the amount ofheat energy required to raise the temperature of a body by 1°C
                </div>
                <div class="leftlessdata">
                 <img src="assets/capacity.png">
                </div>
              </div>
              <div class="col-md-5 d-flex imgcont">
                <img src="https://digitieke.com/Heat/img/group-90-1@1x.png" />
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row lesson-{{currentLesson}}"  *ngIf="currentLesson=='10'">
      <img src="https://digitieke.com/Heat/img/slide20@1x.png">
    </div>
    <div class="row lesson-{{currentLesson}}"  *ngIf="currentLesson=='11'">
      <img src="https://digitieke.com/Heat/img/group-113-1@1x.png">
    </div>
    <div class="footer">
      <div class="footer-icons">
      <img (click)="route()" class="home" src="https://digitieke.com/Heat/img/home-10@1x.png">
      <img (click)="route()" class="prev" src="https://digitieke.com/Heat/img/back-10@1x.png">
      <img (click)="route()" class="next" src="https://digitieke.com/Heat/img/next-10@1x.png">
    </div>
    </div>
  </div>
  </div>

</section>